{% block body %}
<tr class="article-row" id="{{ url_for( 'article', id=article.id ) }}">
  <td>
    <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
  </td>
  <td>{{ article.topic }}</td>
  <td class="has-read-column">
    {% if article.on_queue(current_user) %}
    <span class="material-icons"> check_box </span>
    {% else %}
    <span class="material-icons">check_box_outline_blank</span>
    {% endif %}
  </td>
  <td>{{ moment(article.timestamp).fromNow() }}</td>
</tr>
{% endblock %}
