{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block
page_content %}
<div>
  <div
    class="card"
  >
    <h3 class="card-title">Enter Article</h5>
    {{ wtf.quick_form(form) }}
  </div>
  {% if articles %}
    <div style="margin-top: 20px;">
      <div class="table-title">
        <h2>Articles</h2>
        {% include 'subtemplates/filter_form.html' %}
      </div>
      <table class="table">
        <thead class="table-header">
          <tr>
            <td>Title</td>
            <td>Topic</td>
            <td class="has-read-column">Has Read</td>
            <td>Date Added</td>
          </tr>
        </thead>
        <tbody class="article-list-body">
          {% for article in articles %}
            {% include 'subtemplates/article.html' %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
  <div class="table-title">
    <div></div>
    {% include 'subtemplates/filter_form.html' %}
  </div>
  {% endif %}
  {% endblock %}
  {% block scripts %}
  <script src="{{ url_for('static', filename='js/view.js') }}"></script>
  {{ super() }} {{ moment.include_moment() }} {% endblock %}
</div>
