{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block
page_content %}
<div>
  <div
    style="
      width: 500px;
      background-color: #f8f8f8;
      border: #e7e7e7 2px solid;
      margin: auto;
    "
  >
    <div style="margin: 20px">
      <h3 style="font-weight:600;">Enter Article</h5>
      {{ wtf.quick_form(form) }}
    </div>
  </div>
  <div style="margin-top: 20px;">
    <h2>Articles</h2>
    <table class="table">
      <thead style="font-weight:bold; background-color: #f8f8f8;">
        <tr>
          <td>Title</td>
          <td>Topic</td>
          <td>Date Added</td>
        </tr>
      </thead>
      <tbody>
        {% for article in articles %}
        <tr>
          <td>
            <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
          </td>
          <td>{{ article.topic }}</td>
          <td>{{ moment(article.timestamp).fromNow() }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}
</div>
